<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="chrome://global/skin/" type="text/css"?>
<?xml-stylesheet type="text/css" href="chrome://messenger/skin/messenger.css"?>
<?xml-stylesheet href="chrome://cardbook/content/skin/cardbookFindDuplicates.css" type="text/css"?>
<!-- for the textbox -->
<?xml-stylesheet type="text/css" href="chrome://messenger/skin/input-fields.css"?>
<!-- for the display -->
<?xml-stylesheet type="text/css" href="chrome://messenger/skin/themeableDialog.css"?>

<window xmlns="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"
	xmlns:html="http://www.w3.org/1999/xhtml"
	onload="wdw_findDuplicates.preload();" resizable="true"
	onclose="wdw_findDuplicates.cancel();"
	id="wdw_findDuplicates" title="__MSG_wdw_findDuplicatesTitle__"
	persist="screenX screenY width height sizemode" class="cardbookFindDuplicatesClass"
	windowtype="CardBook:contactDuplicatesWindow"
	lightweightthemes="true"
	style="min-width:400px;min-height:100px;">

	<script type="application/x-javascript" src="chrome://cardbook/content/indexedDB/cardbookEncryptor.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/indexedDB/cardbookIndexedDB.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/indexedDB/cardbookIDBCard.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/indexedDB/cardbookIDBCat.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/indexedDB/cardbookIDBUndo.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/indexedDB/cardbookIDBImage.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/indexedDB/cardbookIDBMailPop.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/indexedDB/cardbookIDBPrefDispName.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/indexedDB/cardbookIDBSearch.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/cardbookActions.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/cardbookCardParser.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/cardbookElementTools.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/wdw_cardbook.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/findDuplicates/cardbookDuplicate.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/findDuplicates/wdw_findDuplicates.js"/>
	<script type="application/x-javascript" src="chrome://cardbook/content/scripts/i18n.js"/>
	<!-- for the textbox -->
	<script type="application/x-javascript" src="chrome://global/content/globalOverlay.js"/>
	<script type="application/x-javascript" src="chrome://global/content/editMenuOverlay.js"/>

	<keyset id="wdw_findDuplicates-keys">
		<key keycode="VK_ESCAPE" oncommand="wdw_findDuplicates.cancel();"/>
	</keyset>

	<hbox id="recordsHbox" align="center" flex="1" style="overflow:auto">
		<vbox align="center" flex="1" style="overflow:auto">
			<hbox align="center" flex="1">
				<description id="noContactsFoundDesc" style="width:400px"/>
				<grid flex="1">
					<columns flex="1">
						<column/>
						<column/>
						<column/>
						<column/>
						<column/>
					</columns>
					<rows id="fieldsVbox" align="left" flex="1"/>
				</grid>
			</hbox>
		</vbox>
	</hbox>
	<hbox id="mergeAllVbox" align="center" flex="1" hidden="true">
		<vbox id="mergeAllVbox" align="center" flex="1">
			<html:progress id="mergeAll-progressmeter" value="0" max="100"/>
		</vbox>
	</hbox>
	
	<hbox align="center">
		<description id="numberContactsFoundDesc" flex="1"/>
		<spacer flex="1"/>
		<button id="mergeAllLabel" label="__MSG_mergeAllEditionLabel__" accesskey="__MSG_mergeAllEditionAccesskey__" oncommand="wdw_findDuplicates.mergeAll();" hidden="true"/>
		<button id="hideOrShowForgottenLabel" oncommand="wdw_findDuplicates.hideOrShowForgotten();"/>
		<button id="moreOrLessLabel" label="__MSG_lessEditionLabel__" accesskey="__MSG_lessEditionAccesskey__" state="more" oncommand="wdw_findDuplicates.moreOrLess();"/>
		<button id="cancelEditionLabel" label="__MSG_cancelEditionLabel__" accesskey="__MSG_cancelEditionAccesskey__" oncommand="wdw_findDuplicates.cancel();"/>
	</hbox>
</window>
